# Curso Básico de Python


*** 
Material criado por Bruna Franciele Faria, PhD in Computing, Data Science and Engineering.

Referência: [Python](https://docs.python.org/pt-br/3/tutorial/index.html)

<h1> Sumário da Parte 1: </h1>


[A) Introdução do Jupyter-Notebook](#s1) <br>

[B) O que é a linguagem de programação Python?](#s2) <br>
    
[1) Variáveis](#s2a) <br>

[2) Operadores aritméticos](#s2b) <br>

[3) Operadores lógicos](#s2c) <br>

[4) Operadores relacionais](#s2d) <br>

[5) Operadores de Atribuição](#s2e) <br>

[6) Extra](#s2f) <br>

[7) Outras estruturas de Dados](#s2g)

   [A) Listas](#g1) <br>
   [B) Tuplas](#g2) <br>
   [C) Dicionários](#g3) <br>
   [D) Conjuntos](#g4) <br>

<a id="s1"><h1> A) Introdução do Jupyter-Notebook </h1></a>


* Como abrir o jupyter?

* Como criar notebook?

* Como salvar?

* Funcionalidades...


<h3> Atalhos do teclado: </h3>

Os seguintes atalhos estão implementados por default para célula no modo comando:

**Ctrl-Enter:** executa a célula;

**Shift-Enter:** executa a célula e cria uma nova célula abaixo no modo de comando;

**Alt-Enter:** executa a célula e cria uma nova célula abaixo no modo de edição;

**Y:** muda a célula para o tipo código;

**M:** muda a célula para o tipo markdown;

**A:** insere célula acima;

**B:** insere célula abaixo;

**X:** recorta a célula;

**C:** copia a célula;

**V:** cola a célula do clipboard abaixo;

**shift-V:** cola a célula do clipboard acima;

**D, D:** deleta uma célula;

**Z:** desfaz o apagar célula; e

**L:** ativa a enumeração das linhas.

**Tab:** autocompleta durante a digitação; e

**Shift-Tab:** abre uma minijanela com parte da documentação sobre a parte do código durante a documentação.

<a id="s2"><h1> B) O que é a linguagem de programação Python? </h1></a>

* Python é uma linguagem de propósito geral de alto nível, multiparadigma, orientada a objetos e funcional. 


* Possui tipagem forte e dinâmica:


    - Tipagem dinâmica: habilidade de escolher o tipo de dado de acordo com o valor atribuído à variável, ou seja, você não precisa dizer que `a = 25` vai ser uma variável do tipo inteiro.

    - Fortemente tipada: significa que não realizam conversões automaticamente, Ex: `a = 25` e `b = 'Oi'` então `a+b = #TypeError: can only concatenate str (not "int") to str`, aqui ele não é capaz de converter o 25 (int) para str automaticamente para realizar a soma, para efetuar essa soma você precisa converter a=25 para str : a = '25' ai sim a+b será possível....


* Permite fácil leitura do código e exige poucas linhas se comparado ao mesmo programa em outras linguagens. 


* Devido às suas características, ela é utilizada, principalmente, para processamento de textos, dados científicos e criação de API's para páginas dinâmicas para a web. (https://pt.wikipedia.org/wiki/Python)


> A linguagem mais utilizada na ciência de dados é o Python devido a sua simplicidade e crescente número de bibliotecas voltadas para a análise de dados.

***

## Programação em Python

<a id="s2a"><h1> 1) Variáveis </h1></a>

> Variáveis são formas de se armazenar dados dentro do código.

Elas podem ser classificadas basicamente em 3 tipos:

* int - Um número inteiro
* float - Um numero decimal
* string - Uma sequência de caracteres

In [3]:
# Exemplos:

a = 3 # instancia a variável a, ou seja, atribui um valor para ela armazenar.
print('Variável do tipo: ', type(a))  # função print irá retornar na tela as instruções passadas dentro dela

Variável do tipo:  <class 'int'>

In [4]:
b = 156.25
print('Variável do tipo: ', type(b))

Variável do tipo:  <class 'float'>

In [5]:
c = 'Ola'
print('Variável do tipo: ', type(c))

Variável do tipo:  <class 'str'>

> Em Python não é necessário declarar e nem definir o tipo das variáveis que serão usadas. A própria sintaxe da variavel identica o seu tipo. **Tipagem Dinâmica e Forte**


Mais exemplos:

In [6]:
# String é um tipo de objeto formado por uma sequência imutável de caracteres que nos permite trabalhar com textos:

palavra = 'Exemplo'
print(palavra)

frase = 'Vamos usar o pular uma linha (Enter) e \n continuar a frase na linha debaixo.' # o \n funciona como um Enter
print(frase)

Exemplo
Vamos usar o pular uma linha (Enter) e
 continuar a frase na linha debaixo.

In [8]:
# Manipulando Strings:

concatenar = palavra + ': ' + frase # juntar strings (soma strings)
print(concatenar, '\n')

print(len(palavra)) # retorna quantas letras (caracteres) 'Exemplo' possui
print(len(palavra)-1, '\n') # retorna o último índice. Índice começa a ser contado do 0, ou seja, 'Exemplo' possui índices de 0 a 6.

print(palavra[0]) #o [índice] retorna a letra que estiver naquela Posição.
print(palavra[1])
print(palavra[2])
print(palavra[3])
print(palavra[4])
print(palavra[5])
print(palavra[6], '\n')
print(palavra[0:4]) # retorna do índice 0 até 3-1
print(palavra[3:5]) # retorna do índice 3 até 5-1
print(palavra[5:]) # retorna do índice 5 até o final

Exemplo: Vamos usar o pular uma linha (Enter) e
 continuar a frase na linha debaixo.

7
6

E
x
e
m
p
l
o

Exem
mp
lo

In [12]:
palavra = palavra.replace('M','!')
palavra

'Exe!plo'

***

**Adicional:** Para que serve a função:

- `print()` : retorna o conteúdo na tela
- `type()` : retorna o tipo do objeto
- `input()` : recebe um objeto através da tela

In [13]:
print('Meu nome é Bruna')
print('Meu', 'nome', 'é', 'Bruna')
print('Meu', 'nome', 'é', 'Bruna', sep='|')
print('Meu', 'nome', 'é', 'Bruna', sep=' ', end='.')

Meu nome é Bruna
Meu nome é Bruna
Meu|nome|é|Bruna
Meu nome é Bruna.

In [14]:
print('Eu trabalho na Falconi') 
print('Eu trabalho \t na Falconi') # \t = tab
print('Eu trabalho \n na Falconi') # \n = enter
print('Eu trabalho \r na Falconi') # \r = quebra da frase

Eu trabalho na Falconi
Eu trabalho 	 na Falconi
Eu trabalho
 na Falconi
 na Falconi

In [15]:
print('Eu trabalho na Falconi 'SA' ')

SyntaxError: invalid syntax (2826977928.py, line 1)

In [16]:
print('Eu trabalho na Falconi \'SA\' ')

Eu trabalho na Falconi 'SA'

In [34]:
print('Para printar o caracter especial: "\\"')

Para printar o caracter especial: "\"

In [35]:
type('a')

str

In [36]:
print(type('a'))

<class 'str'>

In [48]:
var1 = input()
print('Variável passada pelo usuário: ', var1, '(', type(var1), ')')

Variável passada pelo usuário:  1 ( <class 'str'> )

In [49]:
var1 = input()
print('Variável passada pelo usuário: ', var1, '(', type(var1), ')')

Variável passada pelo usuário:  a ( <class 'str'> )

In [50]:
var1 = input('Insira uma variavel qualquer: ')
print('Variável passada pelo usuário: ', var1, '(', type(var1), ')')

Variável passada pelo usuário:  Bruna ( <class 'str'> )

In [52]:
var1 = input('Insira uma variavel do tipo texto: ')
print('Variável passada pelo usuário: ', var1, '(', type(var1), ')')

Variável passada pelo usuário:  Teste ( <class 'str'> )

In [53]:
var1 = int(input('Insira uma variavel do tipo inteiro: '))
print('Variável passada pelo usuário: ', var1, '(', type(var1), ')')

Variável passada pelo usuário:  13 ( <class 'int'> )

In [54]:
var1 = float(input('Insira uma variavel do tipo float: '))
print('Variável passada pelo usuário: ', var1, '(', type(var1), ')')

Variável passada pelo usuário:  2.6 ( <class 'float'> )

***

### Exercício:

In [44]:
## Considere o seguinte texto:

texto = 'A linguagem mais utilizada na ciência de dados é o Python. Python possui Tipagem Dinâmica e Forte. \
    Variáveis são formas de se armazenar dados dentro do código. String é um tipo de objeto formado por uma \
        sequência imutável de caracteres que nos permite trabalhar com textos.'

print(texto)

A linguagem mais utilizada na ciência de dados é o Python. Python possui Tipagem Dinâmica e Forte.     Variáveis são formas de se armazenar dados dentro do código. String é um tipo de objeto formado por uma         sequência imutável de caracteres que nos permite trabalhar com textos.

In [45]:
## a) Formate a apresentação do texto na tela considerando uma frase por linha:

## TO DO
...

A linguagem mais utilizada na ciência de dados é o Python.
Python possui Tipagem Dinâmica e Forte.
Variáveis são formas de se armazenar dados dentro do código.
String é um tipo de objeto formado por uma sequência imutável de caracteres que nos permite trabalhar com textos.

<details>
    <summary>Clique aqui para ver a solução:</summary>
   
```python
texto = 'A linguagem mais utilizada na ciência de dados é o Python.\nPython possui Tipagem Dinâmica e Forte.\nVariáveis são formas de se armazenar dados dentro do código.\nString é um tipo de objeto formado por uma sequência imutável de caracteres que nos permite trabalhar com textos.'

print(texto)
```
</details>

In [ ]:
## b) Interaja com o usuário e receba duas variáveis `nome` e `idade`, logo printe na tela de forma organizada as informações recebidas.

## TO DO
...

<details>
    <summary>Clique aqui para ver a solução:</summary>
   
```python
nome = input('Digite seu nome: ')
idade = input('Agora digite sua idade: ')

print('Seu nome é', nome, 'e você tem', idade, 'de idade.')
```
</details>

In [ ]:
## c) Crie uma interação que seja capaz de receber apenas números inteiros. Printe o numero e o tipo.

## TO DO
...

<details>
    <summary>Clique aqui para ver a solução:</summary>
   
```python
numero = int(input('Digite apenas numero inteiro: '))

print('Número:', numero, type(numero))
```
</details>

In [64]:
## c.1) O que acontece se o usuário digitar uma string ao invés de um inteiro? E se for um float?


## c.2) Ajuste o código para que o usuário possa passar tanto inteiro quanto float.

## TO DO
...

<details>
    <summary>Clique aqui para ver a solução:</summary>
   
```python
numero = float(input('Digite apenas numeros (inteiro ou float): '))

print('Número:', numero, type(numero))
```
</details>

<a id="s2b"><h1> 2) Operadores aritméticos: </h1></a>

- Os operadores aritméticos são responsáveis por realizar as operações matemáticas básicas.
- São eles:

<img src="imgs/aritmeticos.PNG" width="600" height="300">

In [17]:
# Soma
5+8

13

In [18]:
# Subtração
46-9

37

In [19]:
# Multiplicação
6*84

504

In [20]:
# Divisão 
456/25

18.24

In [21]:
456//25 # divisão inteira

18

In [9]:
456%25 # retorna o resto da divisão: 18*25=450 | 456-450 = 6

6

In [10]:
# Potenciação
9**3 # 9*9*9

729

In [11]:
# Porcentagem
# 25% de 550:
550 * 0.25 # pois 25% = 25/100

137.5

**Posso fazer operações com str, int e float ao mesmo tempo?**

In [37]:
a = 5
b = 3.5
c = 'string'

In [38]:
print('soma int e float: ', a+b) # retorna um float
print('subtrai int e float: ', a-b) # retorna um float
print('multiplica ints: ', a*a) # retorna um int
print('multiplica floats: ', b*b) # retorna um float
print('divide int por float: ', a/b) # retorna um float
print('divide float por int: ', b/a) # retorna um float

soma int e float:  8.5
subtrai int e float:  1.5
multiplica ints:  25
multiplica floats:  12.25
divide int por float:  1.4285714285714286
divide float por int:  0.7

> Todas as operações entre int e float retornam um float!

In [39]:
print('soma strings: ', c+c)
print('multiplica str por int: ', c*a)

soma strings:  stringstring
multiplica str por int:  stringstringstringstringstring

In [40]:
print('soma string e int: ', c+a) # retorna erro: não pode concatenar str com int

TypeError: can only concatenate str (not "int") to str

In [18]:
print('multiplica str por float: ', c*b)

TypeError: can't multiply sequence by non-int of type 'float'

In [19]:
print('soma string e float: ', c+b) # retorna erro: não pode concatenar str com float

TypeError: can only concatenate str (not "float") to str

In [20]:
print('divide str por int: ', c/a) # não pode usar esse operador entre esses tipos.

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Agora é hora de parar e refletir um pouco sobre tudo que foi visto até aqui

### Qual a sua conclusão sobre operações envolvendo strings?

**Digite sua resposta aqui:** (clique duas vezes na celula para editar)

-

<a id="s2c"><h1> 3) Operadores lógicos: </h1></a>

- Os operadores lógicos são muito utilizados em estruturas condicionais e estruturas de repetição. 
- Esses operadores avaliam expressões lógicas e retornam Verdadeiro ou Falso.
- São eles:

<img src="imgs/logicos.PNG" width="600" height="300">

In [41]:
# confere se o valor atribuído a variável var não está presente na lista
var = 5
var not in [1,2,3,4] 

# retorna True porque é verdade que var não está em [1,2,3,4]

True

In [42]:
# confere se var não está em [1,2,3,4] E também não está em [6,7]
var not in [1,2,3,4] and var not in [6,7] 

# primeira checagem é True e a segunda também é True então retorna True

True

In [43]:
# confere se var não está em [1,2,3,4] E tambem não está em [5,6,7]
var not in [1,2,3,4] and var not in [5,6,7]

# primeira checagem é True e a segunda é False então retorna False porque as duas condições precisam ser satisfeitas.

False

In [45]:
# confere se var não está em [1,2,3,4] OU não está em [5,6,7]
var not in [1,2,3,4] or var not in [5,6,7]

# primeira checagem é True e a segunda é False então retorna True.
# Aqui apenas uma condição pode tem que ser satisfeita para retornar True.

True

<a id="s2d"><h1> 4) Operadores relacionais: </h1></a>

- Os operadores relacionais avaliam expressões e retornam Verdadeiro ou Falso, assim como os lógicos. 
- Porém, os relacionais são responsáveis por operações de comparação de magnitude.
- São eles:

<img src="imgs/relacionais.PNG" width="600" height="300">

In [46]:
3 == 5

False

In [47]:
'a' != 'b'

True

In [48]:
6.2 > 2

True

In [49]:
3.4 <= 3

False

<a id="s2e"><h1> 5) Operadores de Atribuição </h1></a>

- Os operadores de atribuição realizam a ação de alocar valores para variáveis. 
- Podem ser usados para realizar operações aritméticas e alocar o resultado simultaneamente.
- São eles:	

<img src="imgs/atribuicao.PNG" width="600" height="300">

In [58]:
var = 5 # atribui-se o valor 5 a var
var

5

In [65]:
var2 = var
var2

5

In [ ]:
var = var + 9

In [57]:
var += 9 # soma-se 9 ao valor de var
var

32

In [52]:
var -= 1 # subtrai 1 do valor atual de var
var

13

In [53]:
var *= 2 # multiplica por 2 o valor atual de var
var

26

In [33]:
var /= 3 # divide por 3 o valor atual de var
var

8.666666666666666

In [34]:
var //= 2.5 # atualiza o valor de var para o resultado da divisão inteira do valor atual por 2.5
var

3.0

In [35]:
var %= 4 # atualiza o valor de var para o resto da divisão do valor atual por 7
var

3.0

In [36]:
var **= 3 # atualiza o valor de var para o resultado da potenciação do valor atual 
var

27.0

# Agora é hora de parar e refletir um pouco sobre tudo que foi visto até aqui

### Quais as suas conclusões sobre todos os tipos de operadores vistos aqui?

**Digite sua resposta aqui:** (clique duas vezes na celula para editar)

-

<a id="s2f"><h1> 6) Extra: </h1></a>

**Formatação de variáveis dentro do print**

- _%s_ - Serve para colocar strings em uma frase;
- _%i_ - Serve para colocar números inteiros em uma frase;
- _%f_ - Serve para colocar floats em uma frase. Os floats também podem ser formatados.
    * **%.Xf** : basta substituir o X pela quantidade de casas decimais desejadas:
    * **%.1f** = uma casa decimal
    * **%.4f** = quatro casas decimais

In [66]:
# instanciando variáveis:

item1 = 'chocolates'
item2 = 'balas'
quantidade1 = 5
quantidade2 = 36
preco1 = 3.50
preco2 = 0.05

# Realizando operações:

total1 = quantidade1 * preco1
total2 = quantidade2 * preco2
total = total1 + total2

print('Fui ao mercado comprar %s e %s \n' % (item1, item2))
print('Comprei %i %s e %i %s. \n' % (quantidade1, item1, quantidade2, item2))
print('Preço de cada {}: {} \nPreço de cada {}: {} \n'.format(item1[:9], preco1, item2[:4], preco2))
print('Total gasto com chocolates = %.2f' % total1, '\nTotal gasto com balas = {} \n'.format(total2))
print('Gastei um total de: ', total, 'reais')

Fui ao mercado comprar chocolates e balas

Comprei 5 chocolates e 36 balas.

Preço de cada chocolate: 3.5
Preço de cada bala: 0.05

Total gasto com chocolates = 17.50
Total gasto com balas = 1.8

Gastei um total de:  19.3 reais

<a id="s2g"><h1> 7) Outras estruturas de Dados </h1></a>

- [<h4> A) Listas </h4>](#g1)
- [<h4> B) Tuplas </h4>](#g2)
- [<h4> C) Dicionários </h4>](#g3)
- [<h4> D) Conjuntos </h4>](#g4)

<a id="g1"><h3> A) Listas: </h3></a>

São estruturas ordenadas, mutáveis e heterogêneas, pois cada valor tem seu índice na ordem que estão armazenados, é possível alterar os valores e os valores podem ser de tipos diferentes.

- comando básico:

_lista = [elementos]_

ou pode-se usar a função list:

_lista = list([elementos])_

para lista vazia:
_lista = []_ ou _lista = list()_

In [67]:
# Criando listas:

lista_num = [1,2,3,4,5,6] # apenas com numeros inteiros
print(lista_num, '\n')

lista_str = ['Joao', 'Paulo', 'Maria', 'Paulo', 'Joana'] # apenas com strings
print(lista_str, '\n')

lista_float = [0.2, 0.4, 0.6, 0.8] # apenas com floats
print(lista_float, '\n')

lista_mista = [5, 0.5, 'Joao', 0.1, 'Maria', 8] # mista
print(lista_mista)

[1, 2, 3, 4, 5, 6]

['Joao', 'Paulo', 'Maria', 'Paulo', 'Joana']

[0.2, 0.4, 0.6, 0.8]

[5, 0.5, 'Joao', 0.1, 'Maria', 8]

In [68]:
# Trabalhando com listas:

# Extraindo informações de listas:
print('Tamanho da lista_num: ', len(lista_num)) #informa o tamanho da lista
print('Tamanho da lista_str: ', len(lista_str))
print('Tamanho da lista_float: ', len(lista_float))
print('Tamanho da lista_mista: ', len(lista_mista),'\n')

print('Em qual indice a palavra Paulo esta?')
print(lista_str.index('Paulo')) # a função '.index' retorna o índice da primeira ocorrência do valor especificado.
print('Em qual indice o numero 0.1 esta?')
print(lista_mista.index(0.1), '\n')

# Modificando listas:
print('lista original: ', lista_num)
lista_num.append(25) #adiciona o elemento 25 no final da lista
print('lista com elemento adicionado: ', lista_num, '\n')

print('lista mista original: ', lista_mista)
lista_mista.extend([6,5,4]) #adiciona variaos elementos no final da lista alvo
lista_mista.extend(lista_num)
lista_mista.extend([[6,5,4]]) #adiciona uma lista no final da lista alvo. A lista ocupa uma única posição dentro da lista alvo.
lista_mista.extend([lista_num])
print('lista mista modificada: ', lista_mista, '\n')

print('lista strings original: ', lista_str)
lista_str[2] = 'MARIA' #insere o novo valor na posição 2 da lista
print('lista strings modificada: ', lista_str, '\n')

del lista_str[3] #Para remover um elemento usando o indice use o comando 'del'
print('removeu palavra que estava no indice 3: ', lista_str) 
lista_str.remove('Paulo') # o '.remove' remove a primeira ocorrência do valor especificado
print('ramover a palavra Paulo: ', lista_str)

Tamanho da lista_num:  6
Tamanho da lista_str:  5
Tamanho da lista_float:  4
Tamanho da lista_mista:  6

Em qual indice a palavra Paulo esta?
1
Em qual indice o numero 0.1 esta?
3

lista original:  [1, 2, 3, 4, 5, 6]
lista com elemento adicionado:  [1, 2, 3, 4, 5, 6, 25]

lista mista original:  [5, 0.5, 'Joao', 0.1, 'Maria', 8]
lista mista modificada:  [5, 0.5, 'Joao', 0.1, 'Maria', 8, 6, 5, 4, 1, 2, 3, 4, 5, 6, 25, [6, 5, 4], [1, 2, 3, 4, 5, 6, 25]]

lista strings original:  ['Joao', 'Paulo', 'Maria', 'Paulo', 'Joana']
lista strings modificada:  ['Joao', 'Paulo', 'MARIA', 'Paulo', 'Joana']

removeu palavra que estava no indice 3:  ['Joao', 'Paulo', 'MARIA', 'Joana']
ramover a palavra Paulo:  ['Joao', 'MARIA', 'Joana']

<h4> Extra: Função range como geradora de listas </h4>

- função range gera um vetor (lista) contendo números inteiros sequênciais:
- uso: 

        - list(range(inicio,fim))
        
- É importante observar que o número _fim_ descrito acima não é incluído.
- Usa a funcao _list_ para retornar os valores compreendidos no intervalo _inicio-fim_.

In [72]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
lista1 = list(range(0,10))
print(lista1)

lista2 = list(range(10))
print(lista2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
lista3 = list(range(0.5, 6.5)) # retorna um erro porque so pode ser usados numeros inteiros.
print(lista3)

TypeError: 'float' object cannot be interpreted as an integer

# Quais tipos de operações são possíveis fazer com as listas?

**DICA:** explore todos os tipos de operadores vistos anteriormente!

In [74]:
# Exercício:

lista1 = [1,2,3,4]
lista2 = [5,6,7,8]

# O que acontece quando soma-se duas listas?
lista1 + lista2

[1, 2, 3, 4, 5, 6, 7, 8]

In [75]:
lista1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [43]:
#O que acontece quando multiplica-se duas listas?

## INSIRA O CODIGO AQUI ##

In [44]:
#O que acontece quando divide-se duas listas?

## INSIRA O CODIGO AQUI ##

In [45]:
#Use a toda sua criatividade e explore todos os recursos vistos!!

<a id="g2"><h3> B)Tuplas: </h3></a>

São similares as listas, porem são imutáveis e por isso as tuplas sao mais compactas e eficazes em termos de memória e eficiência.

- comando básico:

_tupla = (elementos)_

ou pode-se usar a função tuple:

_tupla = tuple((elementos))_

para tupla vazia:
_tupla = ()_ ou _tupla = tuple()_

- Alguns operadores aritméticos e relacionais também se aplicam as tuplas assim como visto para as listas.
- Basicamente, as tuplas podem ser concatenadas e são comparáveis.

In [76]:
tupla = ('um', 2, 3.2)
tupla

('um', 2, 3.2)

In [77]:
tupla[0]

'um'

In [78]:
tupla[-2]

2

In [79]:
tupla += ((3,4),)
tupla

('um', 2, 3.2, (3, 4))

In [80]:
tupla[3]

(3, 4)

In [81]:
tupla[3][0]

3

In [82]:
tupla[3][1]

4

# Quais tipos de operações são possíveis fazer com as tuplas?

**DICA:** explore todos os tipos de operadores vistos anteriormente!

In [53]:
# O que acontece quando soma-se duas tuplas?

# O que acontece quando multiplica-se duas tuplas?

# O que acontece quando divide-se duas tuplas?

# Use a toda sua criatividade e explore todos os recursos vistos!!

<a id="g3"><h3> C) Dicionários: </h3></a>

Listas e tuplas são indexadas pela ordem dos elementos, ou seja, são ordenadas. 
Já os dicionários, não são!

- No dicionário cada elemento recebe uma etiqueta, sendo mutáveis e heterogêneos.
- Esta estrutura é a mais poderosa do Python, permitindo manipulações complexas.

- comando básico:

_dic = {chave: valor}_

ou pode-se usar a função dict:

_dic = dict({chave: valor})_

para dicionário vazio:
_dic = ()_ ou _dic = dict()_

In [83]:
dic = {'nome': 'Paulo','sobrenome': 'Martins','idade': 23, 'altura': 1.72, 'peso': 84}
dic

{'nome': 'Paulo',
 'sobrenome': 'Martins',
 'idade': 23,
 'altura': 1.72,
 'peso': 84}

In [84]:
dic.items() # retorna todos os itens do existentes no dicionário

dict_items([('nome', 'Paulo'), ('sobrenome', 'Martins'), ('idade', 23), ('altura', 1.72), ('peso', 84)])

In [85]:
for key, value in dic.items():
    print(key, value)

nome Paulo
sobrenome Martins
idade 23
altura 1.72
peso 84

In [86]:
dic.keys() # retorna as chaves existentes no dicionário

dict_keys(['nome', 'sobrenome', 'idade', 'altura', 'peso'])

In [87]:
dic.values() # retorna os valores de cada chave

dict_values(['Paulo', 'Martins', 23, 1.72, 84])

In [88]:
dic['nome'] # retorna valor associado a chave 'nome'

'Paulo'

In [89]:
dic.get('nome') # mesmo que o anterior

'Paulo'

<a id="g4"><h3> D) Conjuntos: </h3></a>

Um conjunto (_set_) em Python é uma coleção de itens únicos, ou seja, distintos entre si.

- comando básico:

_conj = {valor}_

ou pode-se usar a função set:

_conj = set({valor})_

para conjunto vazio:
_conj = ()_ ou _conj = set()_

In [90]:
# Exemplo:

lista = [1, 2, 2, 3, 3, 3]
conj = set(lista)
print("Lista: ", lista)
print("Conjunto apartir da lista: ", conj)

Lista:  [1, 2, 2, 3, 3, 3]
Conjunto apartir da lista:  {1, 2, 3}

In [91]:
# Principais funções:

lista = [1, 2, 2, 3, 3, 3]
conj = set(lista)
print("Lista: ", lista)
    
print("Conjunto apartir da lista: ", conj)

conj.add(4) #adiciona elemento
print(conj)

conj2 = {1,5,6,7}
intersecao = conj.intersection(conj2) #retorna a interseção entre os dois conjuntos
print(intersecao)

diferenca = conj.difference(conj2) #retorna a diferenca entre dois conjuntos
print(diferenca)

uniao = conj.union(conj2) #retorna a união entre dois conjuntos
print(uniao)

Lista:  [1, 2, 2, 3, 3, 3]
Conjunto apartir da lista:  {1, 2, 3}
{1, 2, 3, 4}
{1}
{2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

# Quais tipos de operações são possíveis fazer com os dicionários e conjuntos?

**DICA:** explore todos os tipos de operadores vistos anteriormente!

In [62]:
# É possível somar dicionários? E conjuntos? 
# É possível multiplicar dicionários? E conjuntos?
# É possível dividir dicionários? E conjuntos?
# Use a toda sua criatividade e explore todos os recursos vistos!!